# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\danie\UNIVERSIDAD DE SEVILLA\Jorge RP - Trabajo Criptografía\elliptic-curve-diffie-hellman-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
